@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
}


body{
    font-family: 'Poppins', sans-serif;
}
.cabecalho{
    background-color: #383D58;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
    align-items: ;
}
.cabecalho-imagem{
    width: 20%;
}
